nav{
    width: 100%;
    height: 100px;
    margin-top: 0px;
}

nav li{
    list-style: none;
    float: left;
    margin-left: 20px;
}

.nav-con{
    float: right;
    margin-right: 200px;
    margin-top: 45px;
}

.nav-logo{
    width: 160px;
    height: 100px;
    background-image: url(../assets/Black\ Minimal\ Cake\ Logo.png);
    background-position: center;
    background-size: cover;
    float: left;
}

header{
    width: 100%;
    height: 800px;
    background-color: #99a692;
    padding-top: 50px;
    text-align: center;
}

header h1{
    font-size: 100px;
    margin: 0;
    color: white;
    margin-top: -30px;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
}

.sandwich{
   width: 500px;
   height: 500px;
   background-image: url(../assets/sandwhich\ header.png);
   background-position: center;
   background-size: cover;
}


.splash{
    width: 1000px;
    height: 610px;
    padding-top: 40px;
    padding-left: 275px;
    margin: 0 auto;
    background-image: url(../assets/Splash.png);
    background-position: center;
    background-size: cover;
}





